.about img{
    filter: brightness(0.8);
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
}

.about .collapse{
    width: 85%;
    margin-top: 25px;

}

@media (max-width: 480px) {
    .about{
        margin: 0 20px;
    }

    .about .collapse{
        width: 100%;
        font-size: smaller;

    }
    
}


