.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: #000000;
    ;
  }
  
  .logo img {
    height: 100px;
    width: 100px;
  }
  
  .navbar ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
  }
  
  .navbar ul li a {
    color: #000000;
    text-decoration: none;
  }
  
  .navbar ul li a:hover {
    text-decoration: underline;
  }
  