.accommodation-detail {
  padding: 20px;
}

.accommodation-detail img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.accommodation-detail h1 {
  margin-top: 20px;
}

.accommodation-detail ul {
  list-style-type: none;
  padding: 0;
}

.accommodation-detail ul li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

.tag {
  display: inline-block;
  background: #eee;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
