.accommodation-detail {
  font-family: 'Montserrat';
}

.accommodation-detail h1 {
  margin: 20px 0px 0px 0px;
  color: #ff6060;
  font-weight: 500;
  font-size: 1.7rem;
}

.accommodation-detail ul {
  list-style-type: none;
  padding: 0;
}

.accommodation-detail ul li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}


.accommodation-title p{
  text-align: left;
  margin: 0;
  font-size: 0.7rem;
  font-weight: 500;
}