* {
  font-family: 'Montserrat', sans-serif;
}
body {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.accommodation-card h2 {
  
  font-weight: 500;
}

.accommodation-card p {
  
  font-weight: 400;
}
